/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";
 @import "bootstrap-responsive";
 @import "font-awesome";


$green: #90CA77;
$blue: #81C6DD;
$blue-light: #39AECF;
body{
  background: $green url("45degreee_fabric.png") repeat 0 0;
  color: #4E4E52;
  font-family: 'Abril Fatface', cursive;
}

h1{
  font-size: 6em;
  font-weight: bold;
  margin-top: 65px;
  margin-bottom: 30px;
}
@mixin borders{
  $radius:  10px;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  border:2px solid white;
}
@mixin shadow{
  -webkit-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 5px rgba(50, 50, 50, 0.75);
}

.row{
  
  text-align:center;
  font-weight: bold;
  
}
.span3{
  line-height: 80px;
  background-color:$blue;
  margin: 10px;
  font-size: 6em;
  @include borders;
  @include shadow;
}
.span4:hover{
  background-color: #6dbdd8;
}
.user_list{
  margin-top: 40px;
  
}
.user_element{
  @extend .btn;
  @extend .btn-large;
  @include borders;
  @include shadow;
  line-height: 40px;
  width: 120px;
  height: 90px;
  margin: 10px;
  
}

.user-icon{
 font-size: 5em;
}
ul p{
  font-size: 5em;
  font-weight: bold;
  margin-top: 20px;
}
.btn-custom {
  background-color: hsl(196, 78%, 65%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9fdcf3", endColorstr="#60c6eb");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#9fdcf3), to(#60c6eb));
  background-image: -moz-linear-gradient(top, #9fdcf3, #60c6eb);
  background-image: -ms-linear-gradient(top, #9fdcf3, #60c6eb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9fdcf3), color-stop(100%, #60c6eb));
  background-image: -webkit-linear-gradient(top, #9fdcf3, #60c6eb);
  background-image: -o-linear-gradient(top, #9fdcf3, #60c6eb);
  background-image: linear-gradient(#9fdcf3, #60c6eb);
  border-color: #60c6eb #60c6eb hsl(196, 78%, 61.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.23);
  -webkit-font-smoothing: antialiased;
}
