<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Estimateit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'https://cdn.firebase.com/v0/firebase.js' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<!--<div ng-include src="'users.html'"></div>-->
<div ng-controller="UsersController">  
  <h1>Me</h1>
   <input type="textfield" ng-model="me.estimation" ng-change="change(me)">
  <h1>Other users</h1>
  <ul>
    <li ng-repeat="user in users">
      <input type="textfield" ng-model="user.estimation" ng-change="change(user)">
    </li>
  </ul>
</div>

</body>
</html>
